In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
executions_csv_src = '../output/metrics/executions_by_student.csv'
df_exec_by_std = pd.read_csv(executions_csv_src)
df_exec_by_std['num_queries'] = df_exec_by_std.apply(
    lambda row: row['num_submissions'] + row['num_tests'],
    axis = 1
)
df_exec_by_std

,student,question,is_correct,num_submissions,num_tests,num_errors,num_logic_errors,num_syntax_errors,amount_of_change,num_queries
0,2198,1406,True,1,5,0,0,0,15,6
1,2198,1644,True,1,48,0,0,0,930,49
2,2198,1372,True,3,7,2,2,0,115,10
3,2198,1483,True,4,30,3,2,1,6635,34
4,2198,1730,True,4,17,3,3,0,441,21
...,...,...,...,...,...,...,...,...,...,...
16293,6412,3592,True,4,4,3,1,2,25,8
16294,6421,1599,False,1,22,1,0,1,576,23
16295,6421,1641,False,1,30,1,0,1,1756,31
16296,6421,3673,True,2,39,1,0,0,1208,41
16297,6421,2032,False,3,23,3,1,2,695,26

In [11]:
corrected_sol_df = df_exec_by_std[df_exec_by_std['is_correct']] \
    .drop(columns=['amount_of_change', 'num_queries', 'num_logic_errors'])
corrected_sol_df

,student,question,is_correct,num_submissions,num_tests,num_errors,num_syntax_errors
0,2198,1406,True,1,5,0,0
1,2198,1644,True,1,48,0,0
2,2198,1372,True,3,7,2,0
3,2198,1483,True,4,30,3,1
4,2198,1730,True,4,17,3,0
...,...,...,...,...,...,...,...
16290,6412,1648,True,26,12,25,0
16291,6412,2031,True,5,5,4,0
16292,6412,3032,True,4,4,3,0
16293,6412,3592,True,4,4,3,2
16296,6421,3673,True,2,39,1,0

In [6]:
CODE_SRC = '../output/data/metricas_estudantes.csv'
code_df = pd.read_csv(CODE_SRC)
code_df

,periodo,turma,estudante,atividade,exercicio,complexity,n_classes,n_functions,loc,lloc,...,builtin_type,builtin_func,kwd_print,kwd_input,builtin_type_unique,builtin_func_unique,identifiers_unique,identifiers_max_len,identifiers_min_len,identifiers_mean_len
0,2017-1,144,2198,490,1386,2.0,0.0,0.0,11.0,8.0,...,2.0,2.0,2.0,2.0,1,3,4,2.0,1.0,1.250000
1,2017-1,144,2198,536,1079,7.0,0.0,0.0,25.0,15.0,...,3.0,1.0,4.0,3.0,1,3,7,4.0,1.0,2.285714
2,2017-1,144,2198,490,869,1.0,0.0,0.0,8.0,3.0,...,1.0,1.0,1.0,1.0,1,3,2,5.0,1.0,3.000000
3,2017-1,144,2198,515,1937,2.0,0.0,0.0,13.0,11.0,...,2.0,2.0,2.0,1.0,1,3,8,5.0,1.0,1.500000
4,2017-1,144,2198,639,672,1.0,0.0,0.0,4.0,4.0,...,2.0,NaN,1.0,1.0,1,2,5,5.0,1.0,3.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180098,2018-1,190,3097,1272,1277,1.0,0.0,0.0,8.0,8.0,...,2.0,NaN,1.0,2.0,1,2,8,6.0,1.0,3.625000
180099,2018-1,190,3097,1041,2043,1.0,0.0,0.0,6.0,6.0,...,4.0,1.0,1.0,4.0,1,3,5,15.0,11.0,12.800000
180100,2018-1,190,3097,1041,1803,1.0,0.0,0.0,9.0,9.0,...,1.0,NaN,1.0,1.0,1,2,8,18.0,7.0,9.875000
180101,2018-1,190,3097,1053,1027,1.0,0.0,0.0,5.0,5.0,...,1.0,1.0,1.0,1.0,1,3,4,18.0,4.0,13.500000
180102,2018-1,190,3097,1041,2426,1.0,0.0,0.0,5.0,5.0,...,2.0,NaN,1.0,2.0,1,2,4,20.0,9.0,14.000000

In [7]:
exams = pd.read_csv('../output/data/assessments.csv')
exams

       id
0     465
1     468
2     473
3     474
4     475
..    ...
352  2000
353  2003
354  2015
355  2018
356  2019

[357 rows x 1 columns]

In [8]:
code_df = code_df[code_df['atividade'].isin(exams['id'].tolist())]
code_df

,periodo,turma,estudante,atividade,exercicio,complexity,n_classes,n_functions,loc,lloc,...,builtin_type,builtin_func,kwd_print,kwd_input,builtin_type_unique,builtin_func_unique,identifiers_unique,identifiers_max_len,identifiers_min_len,identifiers_mean_len
3,2017-1,144,2198,515,1937,2.0,0.0,0.0,13.0,11.0,...,2.0,2.0,2.0,1.0,1,3,8,5.0,1.0,1.5
6,2017-1,144,2198,515,1407,NaN,NaN,NaN,6.0,5.0,...,NaN,NaN,NaN,4.0,0,1,4,4.0,2.0,3.5
17,2017-1,144,2198,515,1406,2.0,0.0,0.0,11.0,9.0,...,4.0,NaN,2.0,3.0,1,2,5,2.0,1.0,1.4
19,2017-1,144,2198,465,1355,1.0,0.0,0.0,11.0,6.0,...,4.0,NaN,1.0,3.0,2,2,6,6.0,1.0,3.0
22,2017-1,144,2198,612,1538,4.0,0.0,0.0,14.0,14.0,...,2.0,1.0,1.0,2.0,1,3,6,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180062,2018-1,190,3097,1263,1657,1.0,0.0,0.0,2.0,1.0,...,NaN,NaN,NaN,NaN,0,0,1,5.0,5.0,5.0
180074,2018-1,190,3097,1308,2623,4.0,0.0,0.0,13.0,10.0,...,3.0,3.0,1.0,1.0,2,4,12,6.0,1.0,4.0
180079,2018-1,190,3097,1224,2551,NaN,NaN,NaN,8.0,7.0,...,NaN,1.0,NaN,1.0,0,2,6,7.0,1.0,3.0
180086,2018-1,190,3097,1146,1109,11.0,0.0,0.0,26.0,24.0,...,2.0,NaN,10.0,2.0,2,2,2,5.0,4.0,4.5
180101,2018-1,190,3097,1053,1027,1.0,0.0,0.0,5.0,5.0,...,1.0,1.0,1.0,1.0,1,3,4,18.0,4.0,13.5

In [17]:
df = corrected_sol_df.merge(code_df, how='inner', left_on=['student', 'question'], right_on=['estudante', 'exercicio'])
df

,student,question,is_correct,num_submissions,num_tests,num_errors,num_syntax_errors,periodo,turma,estudante,...,builtin_type,builtin_func,kwd_print,kwd_input,builtin_type_unique,builtin_func_unique,identifiers_unique,identifiers_max_len,identifiers_min_len,identifiers_mean_len
0,2198,1406,True,1,5,0,0,2017-1,144,2198,...,4.0,NaN,2.0,3.0,1,2,5,2.0,1.0,1.400000
1,2198,1644,True,1,48,0,0,2017-1,144,2198,...,2.0,1.0,2.0,1.0,2,3,10,5.0,1.0,3.100000
2,2198,1372,True,3,7,2,0,2017-1,144,2198,...,1.0,3.0,3.0,1.0,1,3,4,2.0,1.0,1.750000
3,2198,1483,True,4,30,3,1,2017-1,144,2198,...,5.0,8.0,9.0,2.0,2,3,4,5.0,1.0,2.000000
4,2198,1730,True,4,17,3,0,2017-1,144,2198,...,4.0,3.0,1.0,1.0,2,5,12,6.0,1.0,3.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12726,6412,1648,True,26,12,25,0,2021-1,380,6412,...,3.0,1.0,2.0,1.0,2,3,13,5.0,1.0,2.461538
12727,6412,2031,True,5,5,4,0,2021-1,380,6412,...,3.0,NaN,1.0,3.0,1,2,2,2.0,1.0,1.500000
12728,6412,3032,True,4,4,3,0,2021-1,380,6412,...,1.0,4.0,4.0,1.0,1,3,2,2.0,1.0,1.500000
12729,6412,3592,True,4,4,3,2,2021-1,380,6412,...,NaN,2.0,1.0,1.0,0,4,6,5.0,1.0,2.833333
12730,6421,3673,True,2,39,1,0,2021-1,380,6421,...,3.0,1.0,1.0,1.0,2,3,8,5.0,1.0,3.500000

In [24]:
codes = {}
for row in df.iterrows():
    data = row[1]
    row_student = data['student']
    row_question = data['question']
    
    info = (data['num_submissions'], data['num_tests'], data['num_syntax_errors'])
    if not row_question in codes or info < codes[row_question][1:]:
        codes[row_question] = (row_student, *info)

codes

{1406: (1929, 1, 1, 0),
 1644: (3102, 1, 1, 0),
 1372: (2014, 1, 0, 0),
 1483: (1466, 1, 1, 0),
 1730: (2391, 2, 14, 0),
 1355: (3658, 1, 0, 0),
 1620: (2246, 1, 0, 0),
 1937: (1484, 1, 0, 0),
 1293: (2317, 1, 1, 0),
 1650: (2587, 1, 0, 0),
 1396: (3100, 1, 0, 0),
 1841: (1466, 1, 3, 0),
 2032: (2375, 1, 0, 0),
 2147: (2433, 1, 0, 0),
 1982: (2327, 1, 0, 0),
 1538: (3103, 1, 1, 0),
 2218: (4151, 1, 3, 0),
 1526: (2397, 1, 1, 0),
 1603: (2384, 1, 0, 0),
 1996: (2379, 1, 0, 0),
 2130: (2198, 1, 1, 0),
 1368: (1915, 1, 0, 0),
 1839: (2186, 1, 1, 0),
 1360: (3699, 1, 1, 0),
 1649: (2817, 1, 0, 0),
 1607: (3710, 1, 6, 0),
 1834: (2510, 1, 1, 0),
 1401: (2336, 1, 1, 0),
 1946: (2404, 1, 0, 0),
 2153: (2322, 1, 0, 0),
 1980: (2836, 1, 0, 0),
 2126: (2510, 1, 1, 0),
 1478: (1930, 1, 0, 0),
 1365: (1267, 1, 1, 0),
 1531: (2241, 1, 1, 0),
 1397: (3276, 1, 0, 0),
 1356: (4763, 1, 1, 0),
 1614: (4469, 1, 0, 0),
 1640: (2396, 1, 0, 0),
 1393: (3782, 1, 0, 0),
 1371: (2253, 1, 1, 0),
 1351: (3778, 1, 1, 0),
 1991: (2238, 1, 1, 0),
 1833: (2393, 1, 0, 0),
 1402: (2114, 1, 0, 0),
 1484: (3729, 1, 8, 0),
 1945: (2371, 1, 1, 0),
 1608: (3447, 1, 0, 0),
 1940: (2238, 1, 1, 0),
 1362: (2580, 1, 1, 0),
 1994: (2830, 1, 4, 0),
 1981: (2156, 1, 1, 0),
 1838: (1719, 1, 1, 0),
 1990: (2144, 1, 1, 0),
 1837: (2238, 1, 0, 0),
 2150: (2323, 1, 0, 0),
 1979: (2622, 1, 0, 0),
 1349: (4765, 1, 4, 0),
 1654: (2246, 1, 0, 0),
 1404: (3716, 1, 0, 0),
 1621: (2366, 1, 1, 0),
 1528: (1428, 1, 1, 0),
 2123: (2382, 1, 0, 0),
 1657: (3226, 1, 0, 0),
 1941: (2315, 1, 0, 0),
 2149: (1647, 1, 0, 0),
 1370: (2554, 1, 1, 0),
 2038: (2618, 1, 0, 0),
 1354: (2554, 1, 0, 0),
 1485: (2809, 1, 13, 0),
 1403: (2258, 1, 0, 0),
 1606: (3778, 1, 3, 0),
 1287: (2540, 1, 2, 0),
 1367: (2421, 1, 1, 0),
 1522: (2221, 1, 1, 0),
 1353: (1466, 1, 1, 0),
 1604: (3224, 1, 0, 0),
 1535: (3057, 1, 2, 0),
 1400: (2282, 1, 1, 0),
 2034: (2400, 1, 1, 0),
 1487: (1267, 1, 3, 0),
 1943: (2376, 1, 1, 0),
 1842: (1915, 1, 0, 0),
 1622: (2245, 1, 1, 0),
 2127: (2251, 1, 2, 0),
 1736: (1236, 2, 4, 0),
 2182: (2289, 1, 1, 0),
 1486: (3798, 1, 2, 0),
 1978: (2252, 1, 1, 0),
 1390: (3278, 1, 0, 0),
 1938: (2301, 1, 1, 0),
 1398: (3716, 1, 0, 0),
 1732: (2397, 1, 2, 0),
 1292: (2291, 1, 1, 0),
 2155: (2201, 1, 0, 0),
 1647: (3226, 1, 0, 0),
 1536: (4013, 1, 3, 0),
 2178: (2246, 1, 0, 0),
 1364: (4658, 1, 0, 0),
 1615: (1466, 1, 1, 0),
 1394: (4413, 1, 0, 0),
 1379: (3654, 1, 1, 0),
 1480: (3748, 1, 6, 0),
 1409: (1907, 1, 1, 0),
 1399: (3658, 1, 0, 0),
 1288: (2141, 1, 0, 0),
 1350: (4772, 1, 0, 0),
 1731: (1228, 1, 3, 0),
 1527: (4216, 1, 1, 0),
 1995: (2389, 1, 2, 0),
 1482: (3808, 1, 2, 0),
 2122: (2583, 1, 0, 0),
 2148: (2382, 1, 0, 0),
 1408: (2428, 1, 0, 0),
 2036: (3151, 1, 0, 0),
 1988: (1930, 1, 0, 0),
 1289: (2255, 1, 0, 0),
 1985: (1930, 1, 0, 0),
 2181: (2811, 1, 0, 0),
 1617: (2430, 1, 0, 0),
 1734: (2361, 2, 3, 0),
 1646: (3230, 1, 1, 0),
 2152: (2533, 1, 0, 0),
 1656: (3305, 1, 0, 0),
 2121: (2561, 1, 0, 0),
 1380: (3755, 1, 1, 0),
 1605: (3337, 1, 0, 0),
 1986: (1915, 1, 0, 0),
 1619: (1915, 1, 1, 0),
 2030: (3692, 1, 1, 0),
 1395: (3657, 1, 1, 0),
 1297: (2561, 1, 1, 0),
 1989: (2312, 1, 0, 0),
 1643: (3100, 1, 1, 0),
 1944: (2194, 1, 1, 0),
 2180: (6151, 1, 3, 0),
 2129: (2190, 1, 0, 0),
 1296: (2836, 1, 0, 0),
 2179: (2262, 1, 0, 0),
 2124: (2186, 1, 3, 0),
 1540: (3095, 1, 0, 0),
 2039: (2172, 1, 2, 0),
 2216: (2268, 1, 2, 0),
 1653: (2366, 1, 0, 0),
 1977: (2223, 1, 0, 0),
 1363: (2819, 1, 1, 0),
 2176: (4009, 1, 1, 0),
 1652: (2428, 1, 0, 0),
 1658: (2275, 1, 0, 0),
 1286: (1907, 1, 2, 0),
 1291: (2251, 1, 1, 0),
 1942: (2479, 1, 2, 0),
 2031: (3227, 1, 0, 0),
 1840: (1897, 1, 0, 0),
 2037: (5179, 1, 1, 0),
 2217: (2317, 1, 1, 0),
 1294: (2478, 1, 1, 0),
 1836: (2951, 1, 1, 0),
 1285: (4469, 1, 0, 0),
 1533: (3702, 1, 7, 0),
 1655: (3484, 1, 0, 0),
 2128: (2124, 1, 2, 0),
 1983: (2188, 1, 1, 0),
 2035: (2263, 1, 0, 0),
 1992: (2833, 1, 1, 0),
 1939: (2319, 1, 2, 0),
 1537: (2811, 1, 0, 0),
 1835: (1902, 1, 1, 0),
 1361: (2329, 1, 1, 0),
 2125: (2261, 1, 1, 0),
 1613: (2314, 1, 0, 0),
 2154: (2144, 1, 1, 0),
 1651: (2250, 1, 0, 0),
 2177: (6359, 1, 0, 0),
 1290: (2176, 1, 0, 0),
 1366: (2398, 1, 1, 0),
 2151: (2431, 1, 1, 0),
 2219: (6412, 1, 0, 0),
 1532: (3434, 1, 1, 0),
 1407: (2394, 1, 0, 0),
 1530: (2276, 1, 0, 0),
 1369: (2320, 1, 1, 0),
 1534: (3658, 1, 0, 0),
 1987: (2432, 1, 1, 0),
 1984: (2512, 1, 3, 0),
 1616: (3343, 1, 1, 0),
 1525: (2960, 1, 0, 0),
 1618: (2325, 2, 19, 0),
 1993: (2239, 1, 5, 0),
 1529: (2817, 1, 1, 0),
 2183: (3068, 1, 0, 0),
 1521: (1237, 1, 1, 0),
 1295: (1662, 1, 0, 0),
 1298: (2625, 1, 1, 0),
 1405: (2622, 1, 1, 0),
 2146: (2281, 1, 0, 0),
 1523: (2878, 1, 0, 0),
 1543: (2239, 1, 1, 0),
 1547: (2299, 1, 12, 0),
 1524: (4469, 1, 0, 0),
 1544: (2561, 1, 4, 0),
 1545: (2223, 1, 3, 0),
 2033: (3324, 1, 1, 0),
 1642: (3031, 1, 0, 0),
 1735: (2167, 1, 10, 0),
 1729: (2187, 1, 8, 0),
 1738: (2396, 1, 2, 0),
 1641: (6359, 1, 0, 0),
 1639: (6464, 1, 0, 0),
 1539: (1925, 1, 1, 0),
 1648: (2382, 1, 0, 0),
 1610: (2407, 1, 0, 0),
 1611: (3126, 1, 0, 0),
 1737: (2398, 5, 38, 0),
 1645: (3193, 1, 1, 0),
 1733: (2387, 2, 22, 0),
 2284: (2409, 1, 1, 0),
 2379: (2411, 1, 3, 0),
 2319: (2513, 1, 6, 0),
 2338: (2513, 1, 10, 0),
 2371: (2879, 1, 1, 0),
 2297: (2513, 1, 1, 0),
 2302: (2836, 1, 0, 0),
 2320: (2404, 1, 3, 0),
 2295: (2389, 1, 1, 0),
 2343: (2858, 1, 6, 0),
 2373: (2832, 1, 0, 0),
 2324: (2856, 1, 2, 0),
 2325: (4171, 1, 2, 0),
 2336: (2854, 3, 8, 0),
 2294: (1294, 1, 1, 0),
 2300: (2818, 1, 1, 0),
 2321: (2411, 1, 1, 0),
 2342: (2583, 5, 18, 0),
 2323: (2928, 1, 0, 0),
 2374: (2814, 1, 2, 0),
 2326: (4175, 1, 1, 0),
 1392: (3075, 1, 0, 0),
 2340: (2807, 4, 16, 1),
 2318: (2975, 1, 1, 0),
 2341: (2975, 1, 1, 0),
 2394: (2874, 1, 11, 0),
 2296: (2815, 1, 1, 0),
 2405: (2175, 2, 5, 0),
 2370: (2812, 1, 1, 0),
 2291: (2831, 1, 1, 0),
 2378: (2875, 1, 2, 0),
 2355: (2852, 1, 2, 0),
 2395: (2823, 2, 0, 0),
 2372: (2815, 1, 1, 0),
 2376: (2806, 1, 0, 0),
 2345: (2008, 1, 3, 0),
 2322: (2830, 1, 1, 0),
 2397: (2830, 1, 11, 0),
 2408: (2834, 1, 15, 0),
 2375: (2535, 1, 2, 0),
 2339: (2806, 2, 4, 0),
 2407: (2597, 1, 35, 0),
 2337: (2832, 1, 15, 0),
 2301: (4032, 1, 0, 0),
 2377: (2821, 1, 2, 0),
 2406: (2833, 3, 17, 0),
 2391: (2834, 1, 0, 0),
 2362: (2833, 1, 11, 0),
 2344: (2811, 3, 11, 0),
 2388: (2822, 1, 3, 0),
 2361: (2872, 1, 24, 0),
 2392: (2812, 1, 3, 0),
 1597: (4140, 1, 0, 0),
 1709: (3191, 1, 1, 0),
 2327: (3135, 1, 4, 0),
 2303: (2863, 1, 1, 0),
 1391: (3341, 1, 0, 0),
 2357: (2864, 1, 8, 0),
 1662: (2858, 4, 13, 0),
 1594: (3503, 1, 0, 0),
 1712: (2852, 4, 4, 1),
 1724: (2362, 1, 0, 0),
 1728: (1222, 1, 0, 0),
 1710: (3368, 1, 0, 0),
 2390: (2864, 1, 5, 0),
 1716: (3031, 1, 0, 0),
 1719: (3570, 1, 0, 0),
 1599: (3242, 1, 0, 0),
 2363: (2960, 1, 0, 0),
 2389: (2535, 1, 1, 0),
 2354: (2535, 1, 8, 0),
 2359: (2819, 1, 3, 0),
 2358: (2808, 1, 4, 0),
 2360: (2817, 1, 1, 0),
 2396: (2819, 1, 6, 0),
 2393: (2954, 1, 6, 0),
 1596: (3729, 1, 1, 0),
 2622: (3503, 1, 0, 0),
 1025: (3478, 1, 1, 0),
 1081: (3058, 1, 1, 0),
 1093: (3069, 1, 1, 0),
 1119: (3011, 1, 0, 0),
 2430: (3046, 1, 0, 0),
 1030: (3148, 1, 1, 0),
 1115: (3237, 1, 0, 0),
 2457: (3380, 1, 0, 0),
 1082: (2960, 1, 0, 0),
 2532: (3570, 1, 11, 0),
 1091: (3061, 1, 2, 0),
 2618: (3317, 1, 0, 0),
 2596: (3320, 1, 0, 0),
 1023: (3397, 1, 2, 0),
 2432: (3196, 1, 0, 0),
 1727: (2497, 1, 0, 0),
 1111: (3199, 1, 2, 0),
 1029: (3311, 1, 1, 0),
 1718: (3225, 1, 0, 0),
 1126: (3320, 1, 0, 0),
 1602: (3709, 1, 0, 0),
 2454: (3330, 1, 14, 0),
 1018: (3112, 1, 1, 0),
 1098: (3068, 1, 0, 0),
 1032: (3421, 1, 0, 0),
 1024: (3318, 1, 1, 0),
 2433: (1163, 1, 1, 0),
 1127: (2960, 1, 0, 0),
 1087: (3306, 1, 1, 0),
 2456: (3138, 1, 3, 0),
 1714: (1604, 1, 0, 0),
 1002: (3325, 1, 1, 0),
 1035: (3068, 1, 1, 0),
 2623: (3484, 1, 2, 0),
 2438: (3371, 1, 1, 0),
 1726: (3371, 1, 0, 0),
 1038: (3105, 1, 1, 0),
 1086: (3355, 1, 1, 0),
 2452: (2154, 1, 0, 0),
 1020: (3317, 1, 1, 0),
 2589: (3311, 1, 1, 0),
 2621: (3419, 1, 0, 0),
 1021: (1163, 1, 1, 0),
 1097: (3233, 1, 3, 0),
 2620: (3194, 1, 2, 0),
 1036: (3221, 1, 1, 0),
 1125: (2300, 1, 1, 0),
 2431: (3260, 1, 0, 0),
 1095: (3370, 1, 3, 0),
 2538: (3100, 1, 0, 0),
 1598: (3484, 1, 1, 0),
 2459: (3181, 1, 0, 0),
 1148: (3376, 1, 0, 0),
 1088: (3278, 1, 0, 0),
 1113: (3522, 1, 0, 0),
 1713: (3190, 1, 1, 0),
 2594: (3324, 1, 5, 0),
 1080: (3180, 1, 0, 0),
 2488: (3570, 1, 1, 0),
 1089: (3215, 1, 0, 0),
 2487: (3313, 1, 2, 0),
 2461: (3095, 1, 0, 0),
 1715: (3393, 1, 0, 0),
 1122: (3247, 1, 0, 0),
 1722: (3260, 1, 2, 0),
 1094: (3374, 1, 0, 0),
 2537: (3192, 1, 13, 0),
 2626: (3273, 1, 1, 0),
 1600: (3031, 1, 0, 0),
 2435: (3306, 1, 1, 0),
 1090: (3225, 1, 1, 0),
 2437: (3401, 1, 0, 0),
 1033: (3240, 1, 1, 0),
 1022: (3092, 1, 4, 0),
 1595: (3231, 1, 0, 0),
 1028: (4624, 1, 0, 0),
 2429: (3055, 1, 1, 0),
 2591: (3076, 1, 4, 0),
 1117: (3106, 1, 6, 0),
 1593: (4061, 1, 3, 0),
 2434: (3156, 1, 0, 0),
 1092: (3044, 1, 2, 0),
 1147: (2348, 1, 1, 0),
 2587: (3148, 1, 4, 0),
 2619: (3368, 1, 0, 0),
 2534: (3145, 1, 16, 0),
 1601: (3246, 1, 0, 0),
 1721: (3305, 1, 1, 0),
 1034: (3107, 1, 1, 0),
 2455: (3308, 1, 1, 0),
 1026: (3064, 1, 1, 0),
 1083: (3495, 1, 1, 0),
 2536: (3221, 1, 3, 0),
 2624: (3122, 1, 1, 0),
 1720: (3311, 1, 2, 0),
 1019: (3070, 1, 1, 0),
 2458: (3263, 1, 3, 0),
 1725: (3221, 1, 0, 0),
 2588: (3095, 1, 0, 0),
 2539: (3353, 1, 1, 0),
 1037: (2371, 1, 1, 0),
 1096: (3321, 1, 2, 0),
 1149: (3221, 1, 0, 0),
 1085: (1604, 1, 0, 0),
 1031: (2495, 1, 0, 0),
 1084: (3105, 1, 1, 0),
 2593: (3221, 1, 3, 0),
 1109: (3097, 1, 1, 0),
 2627: (3138, 1, 0, 0),
 2460: (3353, 1, 0, 0),
 1027: (3322, 1, 1, 0),
 1146: (3379, 1, 0, 0),
 2531: (3196, 1, 0, 0),
 1717: (3246, 1, 0, 0),
 2530: (3237, 1, 0, 0),
 1120: (3181, 1, 0, 0),
 1723: (3497, 1, 0, 0),
 2558: (3488, 1, 12, 0),
 2590: (3196, 1, 0, 0),
 2436: (3045, 1, 0, 0),
 2550: (3095, 3, 4, 0),
 2647: (3231, 1, 0, 0),
 1609: (3390, 1, 8, 0),
 2556: (3060, 1, 13, 0),
 1114: (3197, 1, 0, 0),
 2595: (3081, 7, 24, 0),
 2535: (3246, 1, 0, 0),
 2559: (3435, 1, 0, 0),
 2552: (3106, 1, 18, 0),
 2489: (3380, 1, 1, 0),
 1711: (4191, 1, 2, 0),
 2533: (3362, 1, 27, 0),
 2625: (3375, 1, 0, 0),
 2462: (3145, 1, 1, 0),
 2592: (3101, 1, 1, 0),
 2557: (3092, 2, 5, 0),
 2551: (3102, 1, 4, 0),
 2549: (3103, 1, 36, 0),
 2555: (3089, 2, 34, 0),
 2666: (3692, 1, 1, 0),
 1417: (3710, 1, 1, 0),
 2882: (6386, 3, 5, 0),
 1496: (3749, 1, 4, 0),
 2819: (3620, 1, 6, 0),
 2792: (2853, 1, 2, 0),
 2846: (5133, 1, 0, 0),
 2754: (3817, 1, 1, 0),
 2762: (3806, 1, 7, 0),
 2667: (3620, 1, 1, 0),
 2760: (2853, 1, 1, 0),
 2847: (6445, 1, 0, 0),
 1490: (3654, 1, 2, 0),
 2669: (2853, 1, 1, 0),
 2874: (3778, 1, 1, 0),
 1493: (1268, 1, 4, 0),
 2664: (2837, 1, 1, 0),
 2851: (2829, 1, 1, 0),
 1495: (3750, 1, 3, 0),
 2795: (3812, 1, 16, 0),
 2668: (3707, 1, 0, 0),
 2736: (2848, 1, 3, 0),
 1497: (2848, 1, 2, 0),
 2761: (2848, 1, 2, 0),
 2798: (2829, 1, 5, 0),
 1418: (3691, 1, 1, 0),
 2683: (3697, 1, 4, 0),
 1494: (3712, 1, 0, 0),
 1479: (3709, 1, 0, 0),
 2765: (1268, 1, 2, 0),
 2673: (2960, 1, 0, 0),
 1410: (3722, 1, 1, 0),
 2793: (3751, 1, 1, 0),
 2768: (3735, 1, 11, 0),
 1491: (3658, 1, 0, 0),
 2876: (3751, 3, 3, 2),
 1481: (3751, 1, 7, 0),
 1489: (3716, 1, 0, 0),
 1411: (3798, 1, 1, 0),
 2672: (3722, 1, 1, 0),
 1488: (3745, 1, 4, 0),
 2767: (3743, 1, 4, 0),
 2849: (3745, 1, 1, 0),
 2823: (2809, 1, 2, 0),
 2820: (3658, 1, 0, 0),
 1412: (2809, 1, 6, 0),
 2766: (3702, 1, 3, 0),
 2665: (3657, 1, 0, 0),
 2791: (2125, 3, 24, 0),
 2824: (3698, 1, 6, 0),
 1749: (3658, 2, 1, 0),
 2759: (3706, 1, 3, 0),
 1359: (3806, 1, 1, 0),
 2670: (3658, 1, 0, 0),
 2822: (2197, 1, 1, 0),
 2796: (3658, 1, 0, 0),
 2853: (2125, 1, 2, 0),
 2805: (3691, 1, 1, 0),
 2818: (3656, 11, 32, 0),
 2852: (3657, 1, 1, 0),
 2794: (3657, 1, 6, 0),
 2825: (3712, 2, 1, 0),
 2764: (3712, 7, 12, 0),
 2873: (3778, 1, 2, 0),
 2850: (3755, 1, 2, 0),
 2848: (3715, 1, 0, 0),
 2844: (6455, 1, 6, 0),
 2804: (3755, 1, 1, 0),
 2671: (3759, 1, 1, 0),
 2870: (3774, 101, 62, 0),
 2756: (1985, 1, 2, 0),
 2827: (2811, 1, 0, 0),
 2845: (6417, 1, 7, 0),
 2797: (2811, 3, 2, 0),
 196: (4352, 2, 15, 0),
 2821: (3699, 3, 25, 0),
 2684: (3987, 1, 1, 0),
 1492: (3807, 4, 26, 0),
 2872: (3699, 1, 25, 0),
 2826: (6445, 1, 0, 0),
 2763: (3778, 1, 13, 0),
 2919: (4171, 1, 0, 0),
 3053: (5012, 1, 1, 0),
 2931: (4149, 1, 1, 0),
 2969: (4116, 2, 7, 0),
 2933: (2286, 1, 1, 0),
 2951: (3068, 1, 1, 0),
 2973: (4146, 1, 2, 0),
 2932: (3055, 1, 1, 0),
 2920: (3061, 1, 1, 0),
 2918: (3426, 1, 1, 0),
 3229: (4113, 1, 0, 0),
 2930: (4097, 1, 1, 0),
 3096: (1366, 1, 3, 0),
 3057: (6406, 1, 0, 0),
 3031: (4103, 1, 1, 0),
 2971: (4380, 1, 1, 0),
 3051: (3555, 1, 0, 0),
 3035: (4266, 1, 7, 0),
 2924: (3048, 1, 0, 0),
 2966: (3486, 1, 0, 0),
 3058: (6340, 1, 2, 0),
 3037: (6386, 1, 0, 0),
 3090: (4137, 1, 9, 0),
 3185: (4009, 1, 0, 0),
 3141: (3486, 1, 1, 0),
 3181: (4146, 1, 1, 0),
 3134: (4258, 1, 0, 0),
 2975: (2146, 1, 1, 0),
 3032: (4044, 1, 0, 0),
 3138: (4105, 1, 1, 0),
 3055: (3068, 1, 0, 0),
 3033: (4007, 1, 1, 0),
 2950: (4122, 3, 3, 1),
 3177: (4446, 1, 1, 0),
 3039: (6447, 1, 2, 0),
 3093: (4027, 1, 7, 0),
 2949: (4101, 1, 1, 0),
 2936: (4039, 1, 0, 0),
 3089: (4140, 1, 2, 0),
 3036: (4101, 1, 1, 0),
 3210: (4002, 1, 0, 0),
 3179: (4382, 1, 0, 0),
 2927: (3059, 1, 0, 0),
 2935: (3555, 1, 0, 0),
 3139: (4083, 1, 0, 0),
 3137: (4206, 1, 2, 0),
 3178: (4258, 1, 1, 0),
 2967: (4140, 1, 0, 0),
 3135: (4469, 1, 0, 0),
 2928: (3473, 1, 0, 0),
 2934: (4123, 1, 2, 0),
 2972: (4327, 1, 1, 0),
 2921: (4118, 1, 1, 0),
 3183: (4469, 1, 0, 0),
 3140: (4153, 1, 4, 0),
 3208: (4102, 1, 70, 0),
 3054: (5041, 1, 0, 0),
 2929: (4236, 1, 1, 0),
 3180: (6386, 1, 0, 0),
 3052: (6464, 1, 0, 0),
 2937: (4044, 1, 0, 0),
 2974: (4469, 1, 0, 0),
 3095: (4236, 1, 1, 0),
 3034: (3059, 1, 0, 0),
 2925: (3065, 1, 1, 0),
 3124: (4118, 1, 0, 0),
 3182: (3546, 1, 8, 0),
 2970: (3061, 1, 1, 0),
 3091: (4212, 1, 13, 0),
 3041: (4446, 1, 1, 0),
 3215: (4469, 2, 3, 0),
 3038: (5812, 1, 0, 0),
 3087: (4469, 3, 2, 0),
 3214: (5121, 1, 7, 0),
 3059: (5041, 1, 2, 0),
 3176: (6360, 1, 0, 0),
 3136: (4266, 1, 2, 0),
 3056: (3714, 1, 13, 0),
 2968: (4230, 1, 0, 0),
 3209: (3068, 4, 15, 0),
 3217: (3998, 1, 0, 0),
 2947: (4004, 1, 2, 0),
 3068: (4149, 1, 3, 0),
 3088: (4219, 2, 4, 0),
 3067: (4469, 1, 2, 0),
 3066: (4139, 1, 4, 0),
 2943: (4191, 1, 2, 0),
 3065: (3113, 1, 1, 0),
 3064: (4161, 1, 5, 0),
 3062: (3995, 1, 2, 0),
 2940: (4350, 1, 1, 0),
 3069: (4152, 1, 3, 0),
 2946: (4183, 1, 1, 0),
 3123: (4368, 1, 2, 0),
 2939: (4170, 1, 3, 0),
 3063: (4044, 1, 0, 0),
 2923: (4159, 1, 1, 0),
 2938: (3113, 1, 1, 0),
 3184: (2228, 2, 10, 1),
 2941: (4469, 1, 0, 0),
 2945: (4431, 1, 1, 0),
 2944: (4380, 1, 1, 0),
 2926: (3988, 1, 2, 0),
 2922: (4469, 1, 0, 0),
 3060: (4140, 1, 2, 0),
 2942: (4443, 1, 3, 0),
 3097: (1330, 1, 2, 0),
 3092: (4057, 1, 11, 0),
 3211: (3425, 1, 15, 0),
 3061: (4213, 1, 4, 0),
 3207: (6446, 1, 0, 0),
 3212: (4027, 1, 17, 0),
 3213: (5647, 1, 4, 0),
 3216: (6455, 1, 8, 0),
 2996: (4044, 1, 0, 0),
 3384: (4715, 1, 3, 0),
 3371: (4875, 1, 3, 0),
 3388: (3999, 1, 2, 0),
 3386: (4710, 1, 4, 0),
 3387: (2321, 1, 2, 0),
 3383: (4684, 1, 2, 0),
 3369: (3508, 1, 11, 0),
 3309: (4637, 1, 1, 0),
 3370: (4674, 1, 3, 0),
 3385: (4669, 1, 2, 0),
 3368: (4731, 1, 2, 0),
 3769: (6320, 1, 0, 0),
 4236: (6480, 1, 0, 0),
 2895: (6333, 1, 1, 0),
 2894: (6480, 1, 0, 0),
 3770: (6320, 1, 0, 0),
 2426: (6320, 1, 1, 0),
 2049: (6317, 1, 0, 0),
 1014: (6480, 1, 0, 0),
 1015: (6374, 1, 0, 0),
 3774: (6440, 1, 0, 0),
 825: (6480, 1, 0, 0),
 1446: (6333, 1, 3, 0),
 1016: (4070, 1, 0, 0),
 1800: (6333, 1, 1, 0),
 1017: (3169, 1, 1, 0),
 3681: (6455, 1, 1, 0),
 3677: (6467, 1, 0, 0),
 3590: (6367, 1, 2, 0),
 3589: (6382, 1, 0, 0),
 3679: (6455, 1, 2, 0),
 3536: (5148, 1, 2, 0),
 3583: (5012, 1, 1, 0),
 3581: (6407, 1, 1, 0),
 3592: (6407, 1, 2, 0),
 3587: (6467, 1, 0, 0),
 3591: (6474, 1, 2, 0),
 3680: (6382, 1, 2, 0),
 3586: (6345, 1, 2, 0),
 3673: (6444, 1, 4, 0),
 3585: (6434, 3, 50, 0),
 3678: (5013, 1, 0, 0),
 3588: (6455, 1, 2, 0),
 3584: (6359, 1, 1, 0),
 3582: (6360, 1, 0, 0),
 3682: (6336, 1, 2, 0),
 3672: (5121, 1, 2, 0),
 3593: (4372, 1, 0, 0),
 2884: (6410, 1, 43, 0),
 3534: (6444, 1, 4, 0),
 2885: (6359, 1, 4, 0),
 1855: (4202, 7, 69, 1),
 1103: (4202, 11, 43, 0),
 3334: (4202, 8, 56, 0),
 2703: (4202, 1, 2, 0),
 2043: (4202, 1, 3, 0),
 1386: (4202, 7, 26, 0),
 3335: (4202, 1, 5, 0),
 2442: (4202, 4, 18, 0),
 3535: (5138, 1, 2, 0)}

In [28]:
df_exec_by_std[df_exec_by_std['question'] == 1103]

,student,question,is_correct,num_submissions,num_tests,num_errors,num_logic_errors,num_syntax_errors,amount_of_change,num_queries
15834,4202,1103,True,11,43,10,10,0,603,54